body {
  width: 100%;
  margin: 0;
  background-color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 60px;
}
#nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60%;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  margin-bottom: 100px;
  background-color: white;
}
#addBookBtn {
  padding: 30px;
  background: url("plus\ icon.png");
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}

#addBookBtn:hover {
  cursor: pointer;
  transform: scale(1.15) rotate(90deg);
}
#formContainer {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  padding: 10px 30px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
  border-radius: 15px;
  transition: 0.2s;
 
}

#formContainer.show-form {
  visibility: visible;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.4s;

  


}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#form h2 {
    margin-bottom: 30px;
}
#form input {
  margin: 6px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 5px;
  font-size: 16px;
}
#form input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: none;
}
#form input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  border: none;
}
#form input[type="submit"] {
  width: 35%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #cacaca;
  margin: 0;
  margin-bottom: 10px;
  width: 50%;
  cursor: pointer;

}
#readStatus {
  width: 35%;
  padding: 10px 0;
  background-color: rgb(110, 255, 110);
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0;
  
}
#readStatus:hover {
  cursor: pointer;
}
.read {
  width: 35%;
  padding: 10px 0;
  background-color: rgb(110, 255, 110);
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
#readStatus.read{
    width: 50%;
    margin-bottom: 0;
    font-size: 18px;
  font-weight: 500;
}
#readStatus.notRead{
    width: 50%;
    margin-bottom: 0;
    background-color: rgb(255, 84, 84);
    font-size: 18px;
  font-weight: 500;

}
.notRead {
  width: 35%;
  padding: 10px 0;
  background-color: rgb(255, 84, 84);
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
#booksContainer {
  margin: auto;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 60px;
  column-gap: 60px;
}

.bookDiv {
  height: 100%;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  
}
.deletebtn {
  width: 35%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  cursor: pointer;
  
}
#backgroundCover {
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}
#backgroundCover.showBackgroundCover {
  visibility: visible;
}
